/**
  * Fonts
  */
@font-face {
  font-family: "JetBrains Mono";
  font-display: fallback;
  src: local("JetBrains Mono"), url("/fonts/JetBrainsMono-Regular.ttf") format("truetype");
}
/**
  * Media Points
  */
/**
  * Colors
  */
